apiVersion: sonataflow.org/v1alpha08
kind: SonataFlow
metadata:
  annotations:
    sonataflow.org/description: YAML based fail switch workflow for testing purpose
    sonataflow.org/expressionLang: jq
    sonataflow.org/profile: gitops
    sonataflow.org/version: "1.0"
  creationTimestamp: null
  labels:
    app: failswitch
    app.kubernetes.io/component: serverless-workflow
    app.kubernetes.io/managed-by: sonataflow-operator
    app.kubernetes.io/name: failswitch
    sonataflow.org/workflow-app: failswitch
    sonataflow.org/workflow-namespace: ""
  name: failswitch
spec:
  flow:
    annotations:
      - workflow-type/infrastructure
    dataInputSchema:
      failOnValidationErrors: true
      schema: schemas/fail-switch.sw.input-schema.json
    functions:
      - name: logInfo
        operation: sysout
        type: custom
      - name: sendFailingGet
        operation: rest:get:https://toto.toto
        type: custom
      - name: httpbinGet
        operation: specs/httpbin.yaml#get
        type: rest
      - name: successResult
        operation: '{ "result": { "message": "Success", "outputs":[ { "key":"switch", "value": .switch } ] } }'
        type: expression
    start:
      stateName: ChooseFailOrSuccessOrWait
    states:
      - dataConditions:
          - condition: .switch  == "OK"
            transition:
              nextState: SuccessOK
          - condition: .switch  == "KO"
            transition:
              nextState: FailKO
          - condition: .switch  == "Wait"
            transition:
              nextState: WaitAndSuccess
        defaultCondition:
          transition:
            nextState: SuccessOK
        name: ChooseFailOrSuccessOrWait
        type: switch
      - actionMode: sequential
        actions:
          - actionDataFilter:
              useResults: true
            functionRef:
              arguments:
                message: '"Success, input was: " + .switch'
              invoke: sync
              refName: logInfo
            name: logMessage
          - actionDataFilter:
              useResults: true
            functionRef:
              invoke: sync
              refName: successResult
            name: setOutput
        end:
          terminate: true
        name: SuccessOK
        type: operation
      - actionMode: sequential
        actions:
          - actionDataFilter:
              useResults: true
            functionRef:
              invoke: sync
              refName: sendFailingGet
            name: sendFailingGet
        end:
          terminate: true
        name: FailKO
        type: operation
      - actionMode: sequential
        actions:
          - actionDataFilter:
              useResults: true
            functionRef:
              invoke: sync
              refName: httpbinGet
            name: httpbinGet
            sleep:
              before: PT60S
        end:
          terminate: true
        name: WaitAndSuccess
        type: operation
  podTemplate:
    container:
      image: quay.io/orchestrator/fail-switch:osl_1_37
      resources: {}
  resources:
    configMaps:
      - configMap:
          name: 01-failswitch-resources-schemas
        workflowPath: schemas
      - configMap:
          name: 02-failswitch-resources-specs
        workflowPath: specs
  persistence:
    postgresql:
      secretRef:
        name: sonataflow-psql-postgresql
        userKey: postgres-username
        passwordKey: postgres-password
      serviceRef:
        name: sonataflow-psql-postgresql
        port: 5432
        databaseName: sonataflow
        databaseSchema: failswitch
status:
  address: {}
  lastTimeRecoverAttempt: null
