apiVersion: v1
kind: Service
metadata:
  name: httpbin
  namespace: rhdh-operator
  labels:
    app: httpbin
    app.kubernetes.io/component: test-service
    app.kubernetes.io/managed-by: manual
    app.kubernetes.io/name: httpbin
spec:
  type: ClusterIP
  selector:
    app: httpbin
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http

